.title{
  font: bold;
  padding-top: 5rem;
  font-size: large;
  background-color: rgba(0, 0, 0, 0.5);
}
.card{
    padding-bottom: 2rem;
    padding-top: 5rem;
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.5));;
}
.t-card {
    display: flex;
    justify-content: center;
    position: relative;
    cursor: pointer;
    width: 25%;
    height: 450px;
    color: #2e2d31;
    background: rgb(151, 194, 187, 0.5);
    overflow: hidden;
    border-radius: 30px;
  }
  .t-img img{
        width: 100%;
        height: 60vh;
        overflow: hidden;
        border-radius: 7px;
        color: #f8f8f8;
}
.card-title{
    font-weight: bold;
}
  .card_title {
    color: #131313;
    line-height: 1rem;
}
.card-content{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 5rem;
        background: grey;
        border-top-left-radius: 20px;
        transform: translateY(200px);
        transition: transform .5s;
}
      
.card-content::before {
        content: '';
        position: absolute;
        top: -47px;
        right: -45px;
        width: 100px;
        height: 100px;
        transform: rotate(-175deg);
        border-radius: 50%;
        box-shadow: inset 48px 48px grey;
}
.card-description {
    font-size: 14px;
    opacity: 1;
    transition: opacity .5s;
    margin-bottom: 1rem;
  }
.t-card:hover .card-content {
    transform: translateY(0);
}
  
.t-card:hover .card-description {
    opacity: 1;
    transition-delay: .25s;
}
button {
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5em 1em;
  --c:  #229091;
  box-shadow: 0 0 0 .1em inset var(--c); 
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: 
    var(--_g) calc(var(--_p,0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p,0%)) 0%,
    var(--_g) calc(var(--_p,0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p,0%)) 100%;
  background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
  outline-offset: .1em;
  transition: background-size .4s, background-position 0s .4s;
}

button:hover {
  --_p: 100%;
  transition: background-position .4s, background-size 0s;
}
button:active {
  box-shadow: 0 0 9e9q inset #0009; 
  background-color: var(--c);
  color: #fff;
}
@media screen and (max-width: 850px){
  .card{
    padding: 4rem 2rem;
    flex-direction: column;
  }
  .t-card{
    width: 100%;
    height: 75vh;
    margin-bottom: 1rem;
  }
}

      
  